:root {
    --main-color: #3e9eff;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Roboto';
    margin: 0 auto;
}

.align {
    width: 960px;
    margin: 0 auto;
}

.full-width {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;    
    padding: 0 10px;
    box-sizing: border-box;
}

header {
    background: url(../common/images/header-image.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    background: rgba(0,127,255, 0.3);  
}

.nav-wrapper {
    background: rgba(0,36,71,.79);
}

header nav {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.nav-wrapper ul {
    margin: 25px 0;
}

header nav li {
    display: inline-block;
    border-left: 1px solid #2a94fb;
}

header nav li:first-child {
    border: none;
}

.nav-wrapper li .active {
    color: #fff;
}

.nav-wrapper a {
    margin: 15px;
}

.nav-wrapper a:hover {
    color: #fff;
}

li, a {
    font: 300 16px 'Roboto';
    color: #2a94fb;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
}

.logo {
    width: 219px;
    height: 63px;
    background: url(../common/images/logo.png);
}

.text-container {
    width: 70%;
    margin: 15%;
    padding: 10px 20px;
    background: rgba(0, 127, 255, .75);
    color: #fff;
}

.text-container h1 {
    margin: 10px;
    font: 700 72px 'Roboto';
}

.text-container h2 {
    margin: 10px;
    font: 300 52px 'Roboto';
}

.arrow-down {
    width: 108px;
    height: 110px;
    margin: 0 auto 20px;
    display: block;
    background: url(../common/images/arrow-down.png);
    cursor: pointer;
}

main {
    margin: 0 auto;
}

.main-title h3 {
    padding-bottom: 5%;
    margin: 0 15%;
    background: url(../common/images/mini-pulse.png) no-repeat;
    background-position: center bottom;
    font: 300 60px 'Roboto';
    text-align: center;
    text-transform: uppercase;
}

.text-wrapper {
    background-color: var(--main-color);
}

.text-wrapper p {
    margin: 15px 15px;
    padding: 40px 25px;
    font: 700 28px 'Roboto';
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px white solid;
}

.text-wrapper p:first-child {
    border: none;
}

.services-wrapper .services {
    margin: 120px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 300 30px 'Roboto';
    text-transform: uppercase;
    border-bottom: 1px solid #dcdcdc;
}

.services-wrapper .services:nth-child(2) {
    justify-content: space-around;
}

.services-wrapper p {
    width: 40%;
}

.netContent {
    margin: 75px;
    display: grid;
    grid-template-areas: "a .  b  . c"   ". d . e."    ". . f . .";
    grid-template-rows: 156px 156px 290px;
    grid-template-columns: repeat(4, 156px);
    justify-content: center;
}

.diamond {
    width: 200px;
    height: 200px;
    transform: rotateZ(-45deg);
    padding: 10px;
    border: 1px solid #ddd;
}

.diamond .active {
    background-color: var(--main-color);
}

.diamond:nth-child(1) {
    grid-area: a;
}

.diamond:nth-child(2) {
    grid-area: b;
}

.diamond:nth-child(3) {
    grid-area: c;
}

.diamond:nth-child(4) {
    grid-area: d;
}

.diamond:nth-child(5) {
    grid-area: e;
}

.diamond:nth-child(6) {
    grid-area: f;
}

.content {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    overflow: hidden;
}

.content:hover {
    background-color: var(--main-color);
    transition: 1s;
}

.content p {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(45deg) translate(-20%,150%);
    background: #f6f8fb;
    font: 300 26px 'Roboto';
    text-align: center;
    text-transform: uppercase;
}

.content img {
    transform: rotate(45deg);
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container .button, .button .highlighted {
    padding: 15px;
    background: #fff;
    color: #3b9dff;
    font: 700 28px 'Roboto';
    text-transform: uppercase;
    border: 1px solid #3b3b3b;
}

.buttons-container .button:hover {
    background-color: #89c4ff; 
    border: 1px solid transparent;
}

 .button-text {
    font: 700 36px 'Roboto';
    text-transform: uppercase;
    border: 1px solid transparent;
    text-align: center;
    margin: 10px;
}

.popup {
    width: 100%;
    position: relative;
    padding: 40px 50px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    margin-top: 50px;
}

.popup .input-popup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.popup .close-button {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    background: url(../common/images/close-button.png);
}

.input-popup .form {
    width: 48%;
    margin: 25px 0;
    padding: 10px;
    font: 900 24px 'Roboto';
    box-sizing: border-box;
    text-transform: uppercase;
    border: 1px solid black;
}

.input-aligning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.submit {
    margin: 40px 0;
    padding: 10px 60px;
    font: 700 24px 'Roboto';
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    font: 500 24px 'Roboto';
    text-transform: uppercase;
}

.checkbox {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.checkbox-wrapper input[type="checkbox"]:before {
    width: 50px;
    height: 50px;
    display: inline-block;
    content: "";
    background: white;
    border: 1px solid black;
}

.checkbox-wrapper input[type="checkbox"]:checked:before {
    background-image: url(../common/images/checkbox.png);
    background-repeat: no-repeat;
    background-position: center;
}

.news {
    background: #f6f8fb;
}

.news-block {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.news-wrapper {
    margin-top: 15px;
    display: flex;
}

.net-container {
    background: #f6f8fb;
}

.net-aligning {
    width: 310px;
    max-width: 34%;
    height: 280px;
    padding: 10px 15px;
    border: 1px solid #d0d0d0;
    border-width: 1px 0;
    box-sizing: border-box;
}

.net-aligning:nth-child(2) {
    position: relative;
  }
  
.net-aligning:nth-child(2)::before,
.net-aligning:nth-child(2)::after {
    width: 1px;
    height: 120%;
    position: absolute;
    top: -10%;
    left: 0;
    content: "";
    background: #d0d0d0;
  }

.net-aligning:nth-child(2)::after {
    left: 100%;
  }
  
.news-name {
    margin-top: 20px;
    font: 500 28px 'Roboto';
    text-transform: uppercase;
    text-align: right;
}

.news-description {
    font: 300 20px 'Roboto';
    text-align: justify;
}

.news-image {
    margin-top: 20px;
}

.contact-us {
    background: url(../common/images/support-image.png) no-repeat;
    background-size: cover;
}

.contact-us-form {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
}

.contact-us-form .form, textarea {
    margin: 20px 0;
    padding: 10px;
    font: 500 24px 'Roboto';
    background: transparent;
    text-transform: uppercase;
    border: 1px solid black;
}

.contact-us-form .form {
    width: 45%;
}

.contact-us-form textarea {
    width: 100%;
}

::placeholder {
    color: black;
}

footer {
    background: url(../common/images/footer-image.png) no-repeat;
    background-size: cover;
}

.p-aligning {
    text-align: center;
}

.p-aligning p:first-child {
    font: 700 28px 'Roboto';
}

.p-aligning p:nth-child(2) {
    font: 300 28px 'Roboto';
}

.p-aligning p:nth-child(3) {
    margin: 0 auto;
    width: 35%;
    font: 300 28px 'Roboto';
}

.footerMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-wrapper {
    display: flex;
}

.footer-map {
    width: 500px;
    max-width: 100%;
}

.footer-input {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.footer-input .footer-form {
    width: 100%;
    max-width: 450px;
    margin: 10px 0;
    padding: 10px;
    font: 500 24px 'Roboto';
    background: transparent;
    text-transform: uppercase;
    border: 1px solid black;
}

.footer-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-social .fb-ic {
    background: url(../common/images/fb-icon.png);
}

.footer-social .tw-ic {
    background: url(../common/images/tw-icon.png);
}

.footer-social .g-ic {
    background: url(../common/images/google-icon.png);
}

.footer-social .in-ic {
    background: url(../common/images/linkedin-icon.png);
}

.footer-social .site-ic {
    background: url(../common/images/site-icon.png);
}

.footer-social ul {
    display: flex;
}

.footer-social a {
    width: 46px;
    height: 46px;
    display: inline-block;
    margin: 5px;
}

.footer-container {
    background: rgba(0, 0, 0, .87);
}

.footer-container p {
    margin: 0 auto;
    padding: 50px;
    font: 300 18px 'Roboto';
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.footer-container .low-text {
    text-transform: lowercase;
    text-decoration: underline;
}

@media (max-width: 959px) {
    .align {
        width: 100%;
    }
    
    .services-wrapper .services {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-wrapper p {
        width: 100%;
        text-align: center;
    }

    .netContent {
        grid-template-areas:   "a b"
                               "c e"                      
                               "d f";
        grid-template-columns: repeat(1, 50%);
        grid-template-rows: repeat(3, 325px);
    }

    .buttons-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 320px) and (max-width: 580px) {

    .nav-wrapper {
        background: rgba(10, 20, 26, .76);
    }

    .menu-icon {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .menu-icon div {
        width: 25px;
        height: 1px;
        background-color: #2a94fb;
        margin: 4px 0;
    }

    .vertical-menu {
        width: 90%; 
    }
    
    .vertical-menu a {
        background-color: transparent;
        color: #2775cd; 
        display: block; 
        padding: 10px;
        margin: 0; 
        text-decoration: none;
    }
    
    .vertical-menu a.active {
        color: white;
    }

    .vertical-menu ul {
        display: grid;
        padding: 0;
    }

    .vertical-menu li {
        border-bottom: 1px solid #2a94fb;
        border-width: 100%;
        border-left: none;
    }

    .vertical-menu li:first-child {
        border-bottom: 1px solid #2a94fb;
    }

    .logo {
        background: url(../common/images/mob-logo.png);
        width: 74px;
        height: 21px;
    }

    .mob-hiddentext {
        display: none;
    }

    .feedback-container, .news, .contact-us {
        display: none;
    }

    .text-wrapper {
        width: 100%;
    }

    .main-title h3 {
        display: flex;
        flex-wrap: nowrap;
    }

    .services-wrapper .services {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .services img {
        width: 100%;
    }

    .services-wrapper p {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    
    .services-wrapper .services:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }

    .netContent {
        margin-bottom: 0;
        grid-template-columns: repeat(1, 75%);
        grid-template-rows: repeat(3, 325px);
    }

    .content {
        height: 130px;
        overflow: unset;
        font-weight: 500 22px 'Roboto';
    }

    .content p {
        width: 105%;
    }

    .content img {
        width: 50%;
    }

    .diamond {
        width: 130px;
        height: 130px;
        border: none;
    }

    .buttons-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        color: #373737;
        font-weight: 500;
    }

    .footer-container p {
        padding: 20px;
    }

    .p-aligning p:nth-child(2), .p-aligning p:nth-child(3) {
        width: 95%;
        margin-bottom: 30px;
        font-weight: 500;
    }
} 